#debugger {
  height: 600px;
  padding-right: 244px;
  background-position: top right;
  background-repeat: no-repeat;
}

.webkit #debugger {
  background-image: url(webkit.png);
}

.firefox #debugger {
  background-image: url(firefox.png);
}

.ie6 #debugger {
  background-image: url(ie6.jpg);
}

.ie7 #debugger {
  background-image: url(ie7.png);
}